.tagline{
    width: 100%;
    height: 7rem;
    padding-top: 3rem;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 4rem;
}
.tag-text{
    background-color: rgb(161, 2, 2);
    color: white;
}

/* footer */

.footer{
    width: 100%;
    height: 55rem;
    background-color: black;
}
.table1{
    background-color: black;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 4rem;
    height: 29rem;
    width: 118rem;
    display: flex;
}
.tb-c1{
    width: 29.5rem;
    height: 100%;
}
.tb-c2{
    width: 29.5rem;
    height: 100%;
}
.tb-c3{
    width: 29.5rem;
    height: 100%;
}
.tb-c4{
    width: 29.5rem;
    height: 100%;
    color: white;
}
.child{
    font-size: 2rem;
}
.table-heading{
    font-size: 4rem;
    color: rgb(161, 2, 2);
    font-weight: bold;
    margin-bottom: 1rem;
}


.table1 ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.table1 ul li{
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    /* font-weight: bold; */
}
.table1 ul li a:hover{
    color: rgb(161, 2, 2);
}


/* socialmedia options */


.socialmedia{
    margin: 0;
    padding: 0;
    top: 23%;
    position: relative;

}
.socialmedia ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    left: 87%;
    transform: translate(-50%, -50%);
}
.socialmedia ul li{
    list-style: none;
    margin: 0 1rem;
}
.socialmedia ul li a{
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6.3rem;
    background: #333;
    border-radius: 50%;
    font-size: 3rem;
    color: #666;
    transition: .5s;
}
.socialmedia ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--clr);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
.socialmedia ul li a:hover::before{
    transform: scale(1.1);
    box-shadow: 0 0 1.5rem var(--clr);
}
.socialmedia ul li a:hover{
    color: var(--clr);
    box-shadow: 0 0 .5rem var(--clr);
    text-shadow: 0 0 .5rem var(--clr);
}
