html{
    font-size: 10px;
    width: 100%;
}
@media(max-width:998px){
    html{
        font-size: 55%;
    }
}
@media(max-width:768px){
    html{
        font-size: 45%;
    }
}


body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* marquee1 */

.mar1 {
    background-color: rgb(161, 2, 2);
    height: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
}

/* navbar1 */

#navbar {
    margin-bottom: -1.6rem;
    margin-top: -1.92rem;
    width: 100%;
    position: sticky;
    flex-shrink: 1;
    z-index: 3;
    font-size: 1.6rem;
}

.nav1 {
    background-color: black;
}

.nav1 ul {
    overflow: auto;
}

.nav1 li {
    float: right;
    list-style: none;
    padding: 2.8rem 1rem;
}

.nav1 li a {
    padding: 0.3rem 0.3rem;
    text-decoration: none;
    color: white;
}

.nav1 li a:hover {
    color: rgb(161, 2, 2);
}

.webname {
    color: white;
    padding: 0.3rem 9rem;
    float: left;
    font-size: 5rem;
}

.webname a {
    text-decoration: none;
    color: white;
}

/* .search-click {
    outline: none;
    width: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.search-click:focus {
    width: 15rem;
    margin-left: .5rem;
}

.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    width: 15rem;
} */

.login{
    float: right;
    font-size: 4rem;
    margin-right: 1rem;
    margin-top: 1rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.login a{
    color: white;
    margin-left: 1rem;
}

.nav1 form {
    padding: 0.3rem 1.7rem;
}

.sticky {
    position: fixed;
    top: -1.92rem;
    margin-bottom: -1.6rem;
    width: 100%;
}  
.active{
    background-color: rgb(100, 151, 172);
}


/* navbar2, */

.navbar2{
    position: relative;
}

.navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(161, 2, 2);
}

.navbar2 ul li {
    float: left;
}

.navbar2 ul li a,
.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bolder;
}

.navbar2 ul li a:hover,
.dropdown:hover .dropbtn{
    background-color: white;
    color: red;
}

.dropdown {
    display: inline-block;
}
.dropdown-first{
    color: transparent;
    padding-left: 50rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 16rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 50rem;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/* Cart Count Badge */
.cart-header {
    position: relative;
    color: white;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -1px;
    background: #dc3545;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: 20px;
}