.filter-product{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filters{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 15%;
    font-size: 2rem;
}

.filter-head{
    font-weight: bold;
    margin-left: 1.2rem;
}

.filter-content a{
    text-decoration: none;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border: .2rem black;
    background-color: rgb(218, 218, 221);
}

.filter-content{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.filters-block{
    margin-bottom: 2rem;
}



.products{
    background-color: white;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.shop-heading{
    width: 100%;
    font-size: 4rem;
    display: flex;
    height: 7rem;
}

.shop-heading-span{
    margin-left: 33rem;
    margin-top: 2rem;
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    margin-top: 3rem;
}

.product-info img{
    display: block;
    width: 90%;
    border-radius: 0.5rem;
    margin: 0rem 2rem;
    margin-bottom: 0;
    max-height: 38rem;
    min-height: 38rem;
}

.product-info a{
    text-decoration: none;
}

.imgcate-product{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.imgcate-product-bg{
    background-color: red;
    padding: 0.5rem;
    border-radius: 2.5rem;
}

.imgcate-product-bg a{
    color: white;
}

.product-name{
    margin-left: 3rem;
    font-size: 2rem;
}

.product-name a{
    color: black;
}

.product-price{
    margin-left: 3rem;
    font-size: 1.5rem;
}

.product-price a{
    color: black;
}

.offer-price{
    font-weight: bold;
}

.offer-price a{
    color: rgb(29, 25, 25);
}

.original-price{
    text-decoration-line: line-through;
    font-size: 1.3rem;
}

.original-price a{
    color: rgb(134, 126, 126);
}

.discount-percent a{
    color: rgb(245, 40, 40);
}
