
<div class="tagline">
    <div class="tag-text"> INDIAN BRAND </div>
  </div>
  <section class="footer">
    <div class="table1">
      <div class="tb-c1">
        <ul>
          <li class="table-heading">Need Help</li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="/track-your-order">Track Order</a></li>
          <li><a href="/return-and-refund">Return & Refund</a></li>
        </ul>
      </div>
      <div class="tb-c2">
        <ul>
          <li class="table-heading">Brand Info</li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="#">Stores Near Me</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="tb-c3">
        <ul>
          <li class="table-heading">Policies</li>
          <li><a href="/terms-and-conditions">T&C</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
        </ul>
      </div>
      <div class="tb-c4">
        <ul>
          <li class="table-heading">Features</li>
          <li class="child">100% Secure Payment</li>
          <li class="child">COD Available</li>
          <li class="child">7 Days Return</li>
        </ul>
      </div>
    </div>
    <div class="socialmedia">
      <ul>
        <li>
          <a href="#" target="_blank" style="--clr:#ac2bac">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#" style="--clr:#3b5998">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" style="--clr:#55acee">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" style="--clr:#ff4500">
            <i class="fab fa-reddit-alien"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
    
    <script src="/static/js/imageslider.js"></script>
    <script src="/static/js/navbar.js"></script>
</body>

</html>